*{
    background-color: pink;
}

img{
    margin-top: 20px;
    margin-left: 300px;
    width: 600px;
    border-radius: 100px;
}

h1{
    color: red;
    font-weight: bolder;
    margin-left: 350px;
}