*{
    background-image: url("../images/background.jpg");
}

.title{
    margin-left: 350px;
    color: red;
    font-size: 40px;
}

a{
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
}

td, tr{
    margin: 10px;
}

.menu{
    color: white;
    margin-top: 150px;
}

table{

    margin-top: 250px;
}



